body {
    background-color:rgb(240, 239, 235);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
} 

#addedTask {
    font-size: 25px;
    border: none;
    border-radius: 4px;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: none; 
    border-bottom: 1px solid grey; 
}

:checked p {
    text-decoration: line-through;
    color: rgb(48, 70, 61);
}

/**CHANGE FORMAT OF TO-DO LIST*/

ul {
    font-size: 20px;
    
}


p li {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 40px;
}

p {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 30px;
    margin-right: 20px;

    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-style: italic;
}


/**CHANGE THE ADD AND DELETE BUTTONS*/ 
button {
    color: white;
    background-color: #231123;
    border-radius: 4px;
    text-decoration: none;
    border:none;

    position: relative;
    left: 650px;
    top: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
}

button:hover {
    background-color: #EAB464;
}

.sort {
    position: relative;
    right: 300px;
}


#checked {
    margin-left: 20px;
}

#checked:checked + p{
    text-decoration: line-through;
    color: rgb(167, 166, 166); 
}
